:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f7f7f7;
  --bg-footer-color: #191c26;
  --accent-color: #ff6c00;
  --bg--dark: #111319;
  --primary-color: #555555;
  --secondary-color: #303030;
  --dark-color: #9da4bd;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  letter-spacing: 0.02em;
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  address {
    display: flex;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bg-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-tel {
    position: absolute;
    top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .header-tel {
    margin-right: 40px;
  }
}

.header__wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__wrapper {
    display: flex;
    justify-content: center;
    padding-right: 2px;
  }
}

@media screen and (min-width: 1200px) {
  .header__wrapper {
    display: block;
    padding-right: 4px;
  }
}

.hero__container-right {
  padding: 208px 0 183px 31px;
  background-color: var(--bg-footer-color);
  background-repeat: no-repeat;
  background-size: cover;
  width: 480px;
  height: 580px;
  background-position: center;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-mobile-1x.jpg);
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__container-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__container-right {
    max-width: 580px;
    height: 680px;
    padding: 280px 0 234px 70px;
    flex-grow: 1;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-talbet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container-right {
    max-width: 1280px;
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container-right {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-desktop-2x.jpg);
  }
}

.hero__container-left {
  display: none;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .hero__container-left {
    width: 114px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container-left {
    width: 93px;
  }
}

.hero-list {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  transform-origin: top left;
}

.hero-list__item + .hero-list__item {
  margin-left: 40px;
}

.hero__title {
  margin: 20px 0 20px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: calc(56/48);
  letter-spacing: 0.05em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero__description {
  width: 306px;
}

@media screen and (min-width: 768px) {
  .hero__description {
    width: 400px;
  }
}

.site-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__item + .site-nav__item {
    margin-left: 40px;
  }
}

.site-nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bg-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.about__list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__list {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    flex-shrink: 0;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item + .about__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item + .about__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__wrap {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__wrap {
    margin-left: 64px;
  }
}

.about__title {
  margin-bottom: 20px;
  color: var(--secondary-color);
}

@media screen and (max-width: 1199px) {
  .about__title {
    font-size: 28px;
    letter-spacing: 0.05em;
    line-height: calc(33/28);
  }
}

@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 42px;
    line-height: calc(49/42);
  }
}

.about__paragraph {
  margin-bottom: 40px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(26/14);
}

@media screen and (min-width: 1200px) {
  .about__paragraph {
    line-height: 1.86;
    width: 476px;
  }
}

.about__description {
  font-size: 16px;
  line-height: calc(26/16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__description {
    height: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .about__description {
    font-size: 18px;
    line-height: calc(30/18);
  }
}

.price-list__section {
  margin: 0 auto;
  background-image: url(../img/price-list/price-list-mobile-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: var(--bg--dark);
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .price-list__section {
    background-image: url(../img/price-list/price-list-mobile-@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .price-list__section {
    background-image: url(../img/price-list/price-list-tablet-1x.png);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price-list__section {
    background-image: url(../img/price-list/price-list-tablet-@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .price-list__section {
    height: 718px;
    max-width: 1280px;
    background-image: url(../img/price-list/price-list-desktop-1x.png);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price-list__section {
    background-image: url(../img/price-list/price-list-desktop-@2x.png);
  }
}

.price-list {
  padding: 40px 30px;
}

@media screen and (min-width: 1200px) {
  .price-list {
    width: 50%;
  }
}

@media screen and (max-width: 1199px) {
  .price-list--light {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .price-list--light {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (max-width: 1199px) {
  .price-list--dark {
    padding-top: 0px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .price-list--dark {
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-list__item::before {
  margin: 0 6px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-list__text {
  order: -1;
}

.price-list__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .price-list__wrapper {
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}

@media screen and (min-width: 1200px) {
  .price-list__wrapper {
    display: flex;
  }
}

.feature-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 44px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    width: 450px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    margin-top: 0 auto;
    width: 370px;
  }
}

.feature-list__item {
  padding: 20px 24px;
  width: 193px;
  height: 133px;
  background: var(--bg-secondary-color);
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    width: 210px;
  }
}

@media screen and (min-width: 1199px) {
  .feature-list__item {
    width: 170px;
    height: 130px;
  }
}

.feature-list__item:nth-child(odd) {
  margin-right: 30px;
}

.feature-list__item:nth-child(even) {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .feature-list__item:nth-child(even) {
    width: 194px;
  }
}

.feature-list__item--spec {
  padding: 20px;
}

.feature__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}

.feature__inner::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: var(--accent-color);
}

.feature__text {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 1.36;
  color: var(--secondary-color);
}

.feature-list__title {
  margin-bottom: 20px;
  width: 412px;
}

.feature-list__description {
  font-size: 18px;
  line-height: 1.66;
}

@media screen and (min-width: 768px) {
  .feature-list__description {
    width: 453px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__description {
    width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__container {
    width: 50%;
  }
}

.masters {
  display: block;
}

@media screen and (min-width: 1200px) {
  .masters {
    display: flex;
  }
}

.masters__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200) {
  .masters__item {
    width: 370px;
  }
}

@media screen and (max-width: 1199px) {
  .masters__item:not(:last-child) {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1200px) {
  .masters__item:not(:last-child) {
    margin-right: 30px;
  }
}

.masters__title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--secondary-color);
}

.masters__description {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-color);
}

.social {
  display: flex;
  margin-top: 30px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-primary-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact-list {
    width: 418px;
  }
}

@media screen and (max-width: 1199px) {
  .contact-list {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    width: 270px;
  }
}

.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__link--exit {
  align-items: flex-start;
}

.contact-list__link--decoration {
  text-decoration: underline;
}

.contact-list__text {
  margin-top: 20px;
}

.contact-list__icon {
  flex-shrink: 0;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  stroke: #9DA4BD;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon--exit {
  margin-top: 8px;
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  stroke: var(--accent-color);
}

.contact-wrapper {
  margin-top: 44px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-wrapper {
    width: 330px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contact-wrapper {
    margin-top: 70px;
  }
}

.galary {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galary {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .galary {
    display: flex;
  }
}

.galary__item {
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .galary__item {
    flex-basis: calc((100% - 60px) /3);
    min-width: 330px;
    margin-top: 30px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .galary__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .galary__item:not(:last-child) {
    margin-right: 30px;
  }
}

.modal-mobile__button {
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal-mobile__button {
    display: none;
  }
}

.modal-mobile__icon {
  width: 40px;
  height: 40px;
  fill: var(--bg-primary-color);
}

.modal {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 118px 0 0 49px;
  width: 347px;
  height: 100vh;
  overflow: auto;
  background-color: var(--bg-primary-color);
}

@media screen and (min-width: 768px) {
  .modal {
    display: none;
  }
}

.modal__button-close {
  position: absolute;
  top: 48px;
  right: 31px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__icon {
  width: 40px;
  height: 40px;
}

.modal__button-close:focus .modal__icon {
  fill: var(--accent-color);
}

.modal__item + .modal__item {
  margin-top: 24px;
}

.modal__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--secondary-color);
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.modal__link:hover, .modal__link:focus {
  color: var(--accent-color);
}

.modal__tel {
  margin-bottom: 24px;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25/18);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.modal__tel:hover, .modal__tel:focus {
  color: var(--accent-color);
}

.modal__wrapper {
  margin-top: 64px;
  margin-bottom: 64px;
}

.modal__item--link {
  margin-left: 100px;
}

.footer {
  padding: 44px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 56px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 57px 0 55px 0;
  }
}

.footer__list {
  display: flex;
  align-items: flex-end;
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin-top: 35px;
  }
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.basic-decription {
  font-size: 16px;
  line-height: calc(26/16);
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .basic-decription {
    font-size: 18px;
    line-height: 1.66;
  }
}

.basic-decription--light {
  flex-shrink: 0;
  color: var(--dark-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 70px;
  }
}

.logo__icon {
  width: 69px;
  height: 55px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--bg-primary-color);
}

@media screen and (min-width: 768px) {
  .logo__icon {
    width: 65px;
    fill: var(--secondary-color);
  }
}

@media screen and (min-width: 1200px) {
  .logo__icon {
    width: 66px;
  }
}

.logo:hover .logo__icon,
.logo:focus .logo__icon {
  fill: var(--accent-color);
}

.section {
  padding: 84px 0;
}

@media screen and (max-width: 479px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 0;
  }
}

.section--dark {
  background-color: var(--bg-footer-color);
}

.section--masters {
  background-color: var(--bg-secondary-color);
}

.section--online {
  flex-grow: 1;
  background-color: var(--bg-footer-color);
}

.section--contact {
  background-image: url(../img//contacs/img-1-mobile-1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-footer-color);
}

@media screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section--contact {
    background-image: url(../img/contacs/img-1-mobile-@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .section--contact {
    background-image: url(../img/contacs/img-1-tablet-1x.png);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section--contact {
    background-image: url(../img/contacs/img-1-tablet-@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .section--contact {
    background-image: url(../img/contacs/img-1-desktop-1x.png);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--contact {
    background-image: url(../img/contacs/img-1-desktop-@2x.png);
  }
}

.section__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}

.section__title--white {
  color: #ffffff;
}

.section__title--fourtyfour {
  margin-bottom: 44px;
}

.section__title--contact {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .section__title--center {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .section__wrapper {
    margin: 0 auto;
    display: flex;
    height: 644px;
    max-width: 1280px;
  }
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.pre-title::before {
  margin-right: 20px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.pre-title--hero {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--hero::before {
  margin-right: 21px;
  content: '';
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-transform: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-title__link:hover, .pre-title__link:focus {
  color: var(--accent-color);
}

.pre-title__link--first {
  display: flex;
  align-items: center;
}

.pre-title__link--first::before {
  margin-right: 40px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
}

.pre-title--rgba {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--rgba::before {
  margin-right: 21px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title--white {
  color: var(--bg-primary-color);
}

.pre-title--white::before {
  margin-right: 21px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title--twenty {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--bg-primary-color);
}

.btn--dark {
  color: var(--secondary-color);
}

.btn--light {
  color: #ffffff;
}

.btn--price-list {
  display: block;
  margin: 50px auto 0 auto;
}

@media screen and (max-width: 767px) {
  .btn--main {
    min-width: 194px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 31px;
  width: 480px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .container--hero {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container--hero {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .container--about {
    display: flex;
  }
}

.container--feature-list {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .container--feature-list {
    flex-direction: column-reverse;
  }
}

.container-half {
  padding: 0 31px;
  width: 480px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-half {
    width: 768px;
    padding: 0 39px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-half {
    padding: 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container-half {
    padding: 0 40px 0 15px;
  }
  .container-half--contact {
    width: 625px;
    padding-left: 100px;
    padding-right: 15px;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__input {
  width: 100%;
  height: 24px;
  padding: 0 0 8px 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  .form__input {
    height: 40px;
    width: 260px;
  }
}

.form__input:focus-within {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.form__input::placeholder {
  text-transform: uppercase;
  color: inherit;
}

.form__input:not(:placeholder-shown) {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

@media screen and (min-width: 1200px) {
  .form__input:first-child {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .form__input + .form__input {
    margin-left: 30px;
  }
}

.form__textarea {
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  padding: 0 0 60px 0;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

@media screen and (min-width: 1200px) {
  .form__textarea {
    width: 560px;
  }
}

.form__textarea:focus {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.form__textarea::placeholder {
  color: inherit;
  text-transform: uppercase;
}

.form__textarea:not(:placeholder-shown) {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.backdrop {
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100vh;
  height: 100vh;
  background: rgba(25, 28, 38, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */