:root {
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f7f7f7;
  --bg-footer-color: #191c26;
  --accent-color: #ff6c00;
  --bg--dark: #111319;
  --primary-color: #555555;
  --secondary-color: #303030;
  --dark-color: #9da4bd;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  letter-spacing: 0.02em;
  background-color: var(--bg-primary-color);
  color: var(--primary-color);
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: Raleway, sans-serif;
}

address {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  address {
    width: 418px;
  }
}

@media screen and (max-width: 1199px) {
  address {
    width: 330px;
  }
}

@media screen and (min-width: 1200px) {
  address {
    width: 270px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-tel {
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bg-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}

.header__wrapper {
  padding-right: 4px;
}

.hero__container-right {
  flex-grow: 1;
  background-color: var(--bg-footer-color);
  padding: 272px 0 206px 96px;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero-barber/hero-desktop-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1280px;
}

.hero__container-left {
  display: flex;
  align-items: flex-end;
  width: 93px;
  padding-bottom: 40px;
  padding-left: 24px;
}

.hero-list {
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  transform-origin: top left;
}

.hero-list__item + .hero-list__item {
  margin-left: 40px;
}

.hero__title {
  margin: 20px 0 20px 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.hero__description {
  width: 400px;
}

.site-nav {
  display: flex;
}

.site-nav__item + .site-nav__item {
  margin-left: 40px;
}

.site-nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bg-primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.about__list {
  flex-shrink: 0;
  display: flex;
}

.about__item + .about__item {
  margin-left: 30px;
}

.about__wrap {
  margin-left: 64px;
}

.about__title {
  margin-bottom: 20px;
}

.about__paragraph {
  width: 476px;
  margin-bottom: 40px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
}

.price-list__section {
  margin: 0 auto;
  max-width: 1280px;
  background-image: url(/img/price-list/img-1-desktop-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 718px;
  background-color: var(--bg--dark);
}

.price-list {
  padding: 40px 30px;
  width: 50%;
}

.price-list--light {
  background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list--dark {
  background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-list__item::before {
  margin: 0 6px;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
}

.price-list__text {
  order: -1;
}

.price-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.price-list__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.feature-list {
  width: 370px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.feature-list__item {
  padding: 20px 24px;
  width: 170px;
  height: 130px;
  background: var(--bg-secondary-color);
}

.feature-list__item:nth-child(odd) {
  margin-right: 30px;
}

.feature-list__item:nth-child(even) {
  margin-top: 30px;
}

.feature-list__item--spec {
  padding: 20px;
}

.feature__inner {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}

.feature__inner::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  color: var(--accent-color);
}

.feature__text {
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0;
  line-height: 1.36;
  color: var(--secondary-color);
}

.feature-list__title {
  margin-bottom: 20px;
  width: 412px;
}

.feature-list__description {
  width: 500px;
}

.feature-list__container {
  width: 50%;
}

.masters {
  display: flex;
}

.masters__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 370px;
}

.masters__item:not(:last-child) {
  margin-right: 30px;
}

.masters__title {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: var(--secondary-color);
}

.masters__description {
  margin-top: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: var(--accent-color);
}

.social {
  display: flex;
  margin-top: 30px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-primary-color);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--accent-color);
}

.contact-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.contact-list__link {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.contact-list__link--exit {
  align-items: flex-start;
}

.contact-list__link--decoration {
  text-decoration: underline;
}

.contact-list__pre-title {
  display: block;
  margin-top: 70px;
}

.contact-list__text {
  margin-top: 20px;
}

.contact-list__icon {
  flex-shrink: 0;
  margin-right: 16px;
  width: 24px;
  height: 24px;
  stroke: #9DA4BD;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon--exit {
  margin-top: 8px;
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  stroke: var(--accent-color);
}

.galary {
  display: flex;
  margin-right: -30px;
}

.galary__item {
  margin-right: 30px;
  flex-basis: calc((100% - 4 * 30px) /4);
}

.footer {
  padding: 57px 0 55px 0;
}

.footer__list {
  display: flex;
  align-items: flex-end;
}

.footer__item + .footer__item {
  margin-left: 40px;
}

.footer__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--dark-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}

.basic-decription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
}

.basic-decription--light {
  flex-shrink: 0;
  color: var(--dark-color);
}

.logo {
  margin-right: 70px;
}

.logo__icon {
  width: 66px;
  height: 55px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--secondary-color);
}

.logo:hover .logo__icon,
.logo:focus .logo__icon {
  fill: var(--accent-color);
}

.section {
  padding: 84px 0;
  outline: 5px solid tomato;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 130px 0;
  }
}

.section--dark {
  background-color: var(--bg-footer-color);
}

.section--masters {
  background-color: var(--bg-secondary-color);
}

.section--online {
  flex-grow: 1;
  background-color: var(--bg-footer-color);
}

.section--contact {
  background-image: url("../img/contacs/img-1-desktop-1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-footer-color);
}

.section__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-color);
}

.section__title--white {
  color: #ffffff;
}

.section__title--fourtyfour {
  margin-bottom: 44px;
}

.section__title--contact {
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .section__wrapper {
    margin: 0 auto;
    display: flex;
    height: 644px;
    max-width: 1280px;
  }
}

.pre-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.pre-title::before {
  margin-right: 20px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.pre-title--hero {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--hero::before {
  margin-right: 21px;
  content: '';
  width: 63px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-transform: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pre-title__link:hover, .pre-title__link:focus {
  color: var(--accent-color);
}

.pre-title__link--first {
  display: flex;
  align-items: center;
}

.pre-title__link--first::before {
  margin-right: 40px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--secondary-color);
}

.pre-title--rgba {
  color: rgba(157, 164, 189, 0.6);
}

.pre-title--rgba::before {
  margin-right: 21px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title--white {
  color: var(--bg-primary-color);
}

.pre-title--white::before {
  margin-right: 21px;
  content: '';
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title--twenty {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .btn {
    min-width: 194px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    min-width: 160px;
  }
}

.btn:hover, .btn:focus {
  background-color: var(--accent-color);
  color: var(--bg-primary-color);
}

.btn--dark {
  color: var(--secondary-color);
}

.btn--light {
  color: #ffffff;
}

.btn--price-list {
  display: block;
  margin: 50px auto 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--hero {
  display: flex;
}

.container--about {
  display: flex;
}

.container--feature-list {
  display: flex;
}

.container-half {
  min-width: 480px;
  padding: 0 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-half {
    min-width: 768px;
    padding: 0 39px;
  }
}

@media screen and (min-width: 1200px) {
  .container-half {
    padding: 0 40px 0 15px;
  }
  .container-half--contact {
    width: 625px;
    padding-left: 100px;
    padding-right: 15px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-primary-color);
  width: 450px;
  height: 609px;
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button--close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  line-height: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-primary-color);
  cursor: pointer;
}

.modal__button--close:hover .modal__icon--close,
.modal__button--close:focus .modal__icon--close {
  fill: var(--accent-color);
}

.modal__icon--close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.form__input {
  width: 260px;
  height: 40px;
  padding: 0 0 8px 0;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  margin-bottom: 44px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

.form__input:focus-within {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.form__input::placeholder {
  text-transform: uppercase;
  color: inherit;
}

.form__input:not(:placeholder-shown) {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.form__input:first-child {
  width: 270px;
}

.form__input + .form__input {
  margin-left: 30px;
}

.form__textarea {
  width: 560px;
  height: 76px;
  margin-bottom: 44px;
  padding: 0 0 60px 0;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.4);
}

.form__textarea:focus {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}

.form__textarea::placeholder {
  color: inherit;
  text-transform: uppercase;
}

.form__textarea:not(:placeholder-shown) {
  color: var(--bg-primary-color);
  border-bottom: 1px solid var(--bg-primary-color);
}
/*# sourceMappingURL=main.css.map */