.footer__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-color);
}

.footer__link:hover,
.footer__link:focus {
    color: var(--accent-color);
}
