.header {
background-color: var(--bg-footer-color);
}
.header-nav{
    display: flex;
    align-items: center;
}
.header-tel {
    margin-right:40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--bg-primary-color);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

// .header__wrapper{
    
// }