.masters{
    display: flex;
    margin-right: -30px;
}
.masters__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 370px;
    margin-right: 30px;
    flex-basis: calc((100% - 90px) /3);
}
.masters__title {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--secondary-color);
}

.masters__description {
    margin-top: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: var(--accent-color);
}
