.section {
    padding: 84px 0;
    outline: 5px solid tomato;
    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }
    @media screen and (min-width: 1200px) {
        padding: 130px 0;
    }

    &--dark {
        background-color: var(--bg-footer-color);
    }
    
    &--masters {
        background-color: var(--bg-secondary-color);
    }

    &--online{
        flex-grow: 1;
        background-color: var(--bg-footer-color);
    }
    &--contact{
        background-image: url('../img/contacs/img-1-desktop-1x.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--bg-footer-color);
    }
}


.section__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--secondary-color);

    &--white {
        color: #ffffff;
    }
    
   &--fourtyfour{
       margin-bottom: 44px;
   }
   &--contact{
    margin-bottom:  40px;
}
}

.section__wrapper{
@media screen and (min-width:1200px) { 
    margin: 0 auto;
    display: flex;
    height: 644px;
    max-width: 1280px;
}
   
}


