body {
    font-family: 'Open Sans', 'sans-serif';
    letter-spacing: 0.02em;
    background-color: var(--bg-primary-color);
    color: var(--primary-color);
}
ul {
    list-style: none;
}

h1,
h2,
h3,
p,
ul,
li,
button {
    
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2 {
    font-family: Raleway, sans-serif;
}

address {
    font-style: normal;
@media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
    justify-content: space-between;
}
}
a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
