:root {
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #f7f7f7;
    --bg-footer-color: #191c26;
    --accent-color: #ff6c00;

    // fonts
    --primary-color: #555555;
    --secondary-color: #303030;
    --dark-color: #9da4bd;
}
